body {
}

.content__wrap {
	margin: auto;
	display: flex;
	align-items: center;
	width: 900px;
	flex-direction: column;
}

.review_title{
	margin: 30px 10px 30px 10px;
}

.btn-wrap {
	margin-top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.img-container{
	margin: auto;
	border: 0.5px solid;
}

.
