body {
	width: 100%;
}

.card__wrap {
	margin: auto;
	margin-top: 80px;
	width: 90%;
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
}
.card {
	margin: 10px;
}

.card-img-top {
	height: 200px;
}
