<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="/" >
        <span class="text-center">Dotrip</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- 인증시 -->
        <ul class="navbar-nav mr-auto">
            {% if session['user_id'] is not defined %}
            {% else %}
                <li class="nav-item">
                    <a class="nav-link btn btn-outline-primary" href="/review_save">
                        <i class="fa fa-plus" aria-hidden="true"></i> 리뷰 작성
                    </a>
                </li>
            {% endif %}
        </ul>
        <ul class="navbar-nav justify-content-end">
            <!-- 미인증시 -->
            {% if session['user_id'] is not defined %}
            <li class="nav-item">
                <a class="nav-link" href="/login"><i class="fa fa-sign-in" aria-hidden="true"></i>로그인</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/sign-up"><i class="fa fa-address-card" aria-hidden="true"></i>회원가입</a>
            </li>
            <!--인증시-->
            {% else %}
            <li class="nav-item">
                <span class="nav-link">{{session['user_id']}}님 환영합니다.</span>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="cursor: pointer;" onclick="logout()"><i class="fa fa-sign-out"
                        aria-hidden="true"></i>로그아웃</a>
            </li>
            {% endif %}
        </ul>
    </div>
    <script>
        // 로그아웃은 내가 가지고 있는 토큰만 쿠키에서 없애면 됩니다.
        function logout(){
            // $.removeCookie('mytoken');
            // alert('로그아웃!')
    
            $.ajax({
                        type: "GET",
                        url: "/logout",
                        success: function (response) {
                            if (response['result'] == 'success') {
                                window.location.href='/'
                            } else {
                                // 로그인이 안되면 에러메시지를 띄웁니다.
                                alert(response['msg'])
                            }
                        }
                    })
        }
    </script>
</nav>