<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
        <span class="text-center">Dotrip</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- 인증시 -->
        <ul class="navbar-nav mr-auto">
            {% if request.cookies.get('mytoken') is none %}
            {% else %}
            <li class="nav-item">
                <a class="nav-link btn btn-outline-primary" href="/review_save">
                    <i class="fa fa-plus" aria-hidden="true"></i> 리뷰 작성
                </a>
            </li>
            {% endif %}
        </ul>
        <ul class="navbar-nav justify-content-end">
            <!-- 미인증시 -->
            {% if request.cookies.get('mytoken') is none %}
            <li class="nav-item">
                <a class="nav-link" href="/login"><i class="fa fa-sign-in" aria-hidden="true"></i>로그인</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/sign-up"><i class="fa fa-address-card" aria-hidden="true"></i>회원가입</a>
            </li>
            <!--인증시-->
            {% else %}
            <li class="nav-item">
                <span id="user_id" class="nav-link"></span>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="cursor: pointer;" onclick="logout()"><i class="fa fa-sign-out"
                        aria-hidden="true"></i>로그아웃</a>
            </li>
            {% endif %}
        </ul>
    </div>
    <script>
        // 로그아웃은 내가 가지고 있는 토큰만 쿠키에서 없애면 됩니다.
        $(document).ready(function () {
            let token = $.cookie('mytoken');
            if (token !== undefined) {
                token = JSON.parse(atob(token.split('.')[1]));
                $("#user_id").text(token.id + '님 환영합니다')

            }
        })

        function logout() {
            $.removeCookie('mytoken', {
                path: '/'
            })

            window.location.href = '/'
        }
    </script>
</nav>