<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--TODO: title jinja2로 붙이기-->
    <title>title</title> 
    <!--부트스트랩 로드-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/css/list.css">
  </head>
  <body>
    <!--TODO: 구조짜기, list 부트스트랩 갖다 붙이기-->
    <div class="card__wrap">
      <!--card list 들어가는 곳-->
      <div class="card" style="width: 350px">
        <img src="../static/camp.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">
            <a href="...">첫번째 카드</a>
          </h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">작성일</li>
          <li class="list-group-item">작성자 아이디</li>
        </ul>
      </div>
      <div class="card" style="width: 350px">
        <img src="../static/img.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">
            <a href="...">첫번째 카드</a>
          </h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">작성일</li>
          <li class="list-group-item">작성자 아이디</li>
        </ul>
      </div>
      <div class="card" style="width: 350px">
        <img src="../static/img.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">첫번째 카드</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">작성일</li>
          <li class="list-group-item">작성자 아이디</li>
        </ul>
      </div>
      <div class="card" style="width: 350px">
        <img src="../static/img.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">첫번째 카드</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">작성일</li>
          <li class="list-group-item">작성자 아이디</li>
        </ul>
      </div>
      <div class="card" style="width: 350px">
        <img src="../static/img.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">첫번째 카드</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">작성일</li>
          <li class="list-group-item">작성자 아이디</li>
        </ul>
      </div>
      <div class="card" style="width: 350px">
        <img src="../static/img.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">첫번째 카드</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">작성일</li>
          <li class="list-group-item">작성자 아이디</li>
        </ul>
      </div>



    </div>


    
    <!--무한 스크롤 구현 필요//js에서-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <script src="../static/js/list.js"></script>
  </body>
</html>