<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--TODO: title jinja2로 붙이기-->
    <title>title</title> 
    <!--부트스트랩 로드-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <!--fontawsome-->
    {% include 'fragment.html' %}
    
    <link rel="stylesheet" type="text/css" href="../static/css/reviews.css">
  </head>
  <body>
    <!--navBar-->
    {% include 'header.html' %}
    
    <div class="card__wrap">
    {% for i in review_data %}
      {%set author = i.author%}
      {%set title = i.review_title%}
      {%set date = i.review_create_date%}
      {%set img_file = i.review_file%}
      {%set content = i.review_content%}
      {%set detail = i._id%}
      <div class="card" style="width: 350px">
        <img src="{{ url_for('static', filename='img/' + img_file) }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">
            <a href="reviews/{{detail}}">{{title}}</a>
          </h5>
          <p class="card-text">{{content}}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{date}}</li>
          <li class="list-group-item">{{author}}</li>
        </ul>
      </div>
    {% endfor %}
    </div> 


    
    <!--무한 스크롤 구현 필요//js에서-->
    <script src="../static/js/reveiws.js"></script>
  </body>
</html>