<!DOCTYPE html>
<head>
  {% include 'fragment.html' %}
</head>
<body>
    <!--navBar-->
    {% include 'header.html' %}
    <div class="content__wrap">
        <h1 class="review_title">{{review['review_title']}}</h1>

        <!-- img-view -->
        <div class="img-container">
            <div class="img-wrap">
                <img src="{{ url_for('static', filename='img/' + review['review_file']) }}" alt="업로드 한 이미지" id="img-preview">
            </div>
        </div>

        <!-- posting-box -->
        <div class="posting-box">
            <div class="custom-file form-group file-upload">
            </div>

            <div class="form-group">
                <div class="content">{{review['review_content']}}</div>
            </div>

            <!-- btn-group -->
            <div class="btn-wrap">
                <button onclick="window.location.href= '/'" type="button"
                    class="btn btn-secondary btn-lg mr-3">목록으로</button>
                {% if request.cookies.get('mytoken') %}
                <button onclick="window.location.href='/review_update/{{review['_id']}}' " type="button" class="btn btn-primary btn-lg" id="posting-btn">수정하기</button>
                {% endif %}
            </div>

        </div>
    </div>
</body>