<!DOCTYPE html>
<head>
  {% include 'fragment.html' %}
  <link rel="stylesheet" type="text/css" href="../static/css/review_detail.css">
</head>
<body>
    <!--navBar-->
    {% include 'header.html' %}
    <div class="content__wrap">

        <!-- img-view -->
        <div class="img-container">
            <div class="img-wrap">
                <img src="{{ url_for('static', filename='img/' + review['review_file']) }}" alt="업로드 한 이미지" id="img-preview">
        </div>
    </div>

        <!-- posting-box -->
        <div class="posting-box">
            <div class="form-group mt-2">
                <label>제목</label>
                <input type="email" class="form-control" id="title" placeholder="{{review['review_title']}}" readonly>
            </div>
            
            <div class="form-group">
                <label>내용</label>
                <textarea readonly class="form-control" id="content" rows="5" placeholder="{{review['review_content']}}"></textarea>
            </div>

            <!-- btn-group -->
            <div class="btn-wrap">
                <button onclick="window.location.href= '/'" type="button"
                    class="btn btn-secondary btn-lg mr-3">목록으로</button>
                {% if request.cookies.get('mytoken') %}
                <button onclick="window.location.href='/review_update/{{review['_id']}}' " type="button" class="btn btn-primary btn-lg" id="posting-btn">수정하기</button>
                {% endif %}
            </div>

        </div>
    </div>
</body>